<h2>Products</h2>

<div *ngFor="let product of _products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>

  <app-product-alerts
  [productPassato]="product"
  (notify)="onNotify()">
  </app-product-alerts>
  <!--
    [productPassato]="product"
    il "product" viene passato a "productPassato" e' un property binding,
    da template padre a template figlio productPassato potra'
    quindi essere usato anche nel template figlio.

    (notify)="onNotify()"
    (notify) notify e' passato dal componente figlio
    e al cambiare del suo valore, parte il metodo onNotify()

  -->

</div>
